/* 
   BA Slider - Core Styles
*/

.ba-slider {
  user-select: none;
  -webkit-user-select: none;
  touch-action: pan-y;
  /*cursor: ew-resize;*/
  box-sizing: border-box; 
}

.ba-slider * {
    box-sizing: border-box;
}

/* Cursor Logic: Hide cursor when interacting */
.ba-slider[data-ba-dragging="true"],
.ba-slider[data-ba-dragging="true"] * {
  cursor: none !important;
}

@media (hover: hover) {
  .ba-slider[data-ba-mode="hover"]:hover,
  .ba-slider[data-ba-mode="hover"]:hover * {
    cursor: none !important;
  }
}

/* Layout */
.ba-slider--after, 
.ba-slider--before {
  pointer-events: none;
}

.ba-slider--after img, 
.ba-slider--before img {
  pointer-events: none;
}

/* Before Layer (Clipped) */
.ba-slider--before {
  /*z-index: 2;*/
  will-change: width;
  pointer-events: none;
}

/* Handle */
.ba-slider--handle {
  /*
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 10;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  */
  
  will-change: left;
}

/* Knob Center logic (Positioning Wrapper) */
.ba-slider--knob {
  will-change: top;
}

/* FADE LOGIC: Individual Elements */
/* Use data-ba-fade on any element inside the slider handle to fade it out on interaction */

[data-ba-fade] {
 transition: opacity 0.2s ease, transform 0.2s ease;
}

/* 1. Dragging */
.ba-slider[data-ba-dragging="true"] [data-ba-fade] {
  opacity: 0 !important;
  transform: scale(0.9);
}

/* 2. Hover */
@media (hover: hover) {
  .ba-slider[data-ba-mode="hover"]:hover [data-ba-fade] {
    opacity: 0 !important;
    transform: scale(0.9);
  }
}
